{% extends "base.html" %}
{% block content %}
<div class="container-post"> 
    <div class="post-image-container">
        <img 
            src="{{ url_for('static', filename=post.image_file) }}" 
            alt="{{ post.title }}" 
            class="post-image"
            onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/default_post_bg.png') }}';">
    </div>
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="post-meta">
        <span class="meta-author">{{ post.author.username }}</span> 
        on 
        <time datetime="{{ post.date_posted.isoformat() }}" class="meta-date">{{ post.date_posted.strftime('%B %d, %Y') }}</time>
    </div>
    <div class="post-content">
        {% set paragraphs = post.content.split('\n\n') %}
        {% if paragraphs|length > 0 %}
            <p class="post-lead-paragraph">{{ paragraphs[0] }}</p>
        {% endif %}
        {% for paragraph in paragraphs[1:] %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
    {% if current_user.is_authenticated and post.author == current_user %}
    <div class="post-actions">
        <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-dark">
            Edit Post
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}