{% extends 'base.html' %}
{% block content %}
    <form class="auth-form" action="" method="POST">
        <h2>Set New Password</h2>
        <p class="auth-switch">Please enter your new password below.</p>
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" required>
        <label for="password_confirm">Confirm New Password</label>
        <input type="password" name="password_confirm" id="password_confirm" required>
        <button type="submit" class="btn-dark">Reset Password</button>
    </form>
{% endblock %}